{% extends 'base.html' %}

{% block title %} Photo Details {% endblock %}


{% block content %}
<div class="container mt-5"> 
    <div class="row justify-content-center">
        <div class="col" style="margin-bottom: 70px;">
            <div style="height: 90vh;">
                <img src="{{photo.image.url}}" style="width: 700px; height: 500px;">
                <p style="color: #5A5560; margin-top: 10px;">{{photo.name}}</p> 
                <p><span class="fw-bold">Category:</span> {{photo.category}}</p> 
                <p><span class="fw-bold">Posted on:</span> {{photo.pub_date}}</p> 
                <p><span class="fw-bold">Location:</span> {{photo.location}}</p>  
                <p>{{photo.description}}</p> 
            </div>
        </div>
    </div> 
</div>
{% endblock %}