{% extends 'base.html' %}

{% block title %} Photo Details {% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a href="{% url 'index' %}" class="btn btn-dark my-3">Home</a>
            <div style="height: 90vh;">
                <img src="{{details.image.url}}" style="max-width: 100%; max-height: 100%;">
                <p>{{details.description}}</p> 
            </div>
        </div>
    </div>
</div>
{% endblock %}