{% extends 'base.html' %}

{% block title %} Add New Photo {% endblock %}


{% block content %} 
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h4 align="center">Upload a New Photo</h4>  
            <div class="card">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group m-3">
                        <label>Photo description</label>
                        <input required name="description" type="text" placeholder="Enter photo description" class="form-control" style="width: 400px;">
                    </div>

                    <div class="form-group m-3">
                        <label>Category</label>
                        <select name="category" class="form-control" style="width: 400px;">
                            <option value="none">Choose category...</option>

                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-3">
                        <label>Create category</label>
                        <input name="category_new" type="text" placeholder="Create a new category" class="form-control" style="width: 400px;">
                    </div>

                    <div class="form-group m-3"> 
                        <label>Upload Image</label>
                        <input required name="image" type="file" class="form-control" style="width: 400px;">
                    </div>

                    <button type="submit" class="btn m-3" style="background-color: #5A5560; outline: none; color: #ffffff; position:relative; left: 30%;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> 
{% endblock %}